<mat-nav-list >
  <a mat-list-item routerLink="/singUp" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="nav-captions" >Singup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-captions">Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-captions">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
      <mat-icon>eject</mat-icon>
      <span class="nav-captions">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
